* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif, Helvetica, Arial;
}

/*Aca tengo estilos generales*/

header{
    background: white;
    padding: 20px 53px;
}

#logo{
    width: 300px;
}

/*Aca tengo los estilos del header*/

.image-container{
    display: flex;
}

.image-container img{
    width: 100%;
}

#logo img{
    border: 1px solid white;
}

#i #fondo{
    
    display: inline-block;
    filter: blur(7px);
    filter: brightness(22%);
}

#i{
    position: relative;
}

#i .info-container{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    display: flex;
    width: 100%;
    color: white;
    padding: 0 50px;
}

#i .info-container #mypicture{
    width: 300px;
}

#i .info-container #mypicture img {
    width: 270px;
    height: 270px;
    object-fit: cover;
    border-radius: 100%;
}
#i .info-container .information{
    margin-left: 20px;
    margin-top: 70px;
    font-weight: bold;
}
#i .info-container .information span{
    display: inline-block;
    color: #e49156;
    margin-bottom: 10px;

}
#i .info-container #bio{
    margin-top: 70px;
    font-weight: normal;
    line-height: 1.2;
    font-size: small;
}

/*Aqui tengo estilos de la caja de presentacion */

main .social-icons{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    list-style: none;
}
main .social-icons img{
    width: 40px;
    height: 40px;
}
main .social-icons li{
    margin-left: 8px;
}
main .social-icons .social-icon{
    display: flex;
    background: ;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

