* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif, Helvetica, Arial;
}

/*Aca tengo estilos generales*/

header{
    background: #1f1f1f;
    padding: 10px 50px;
}

/*Aca tengo los estilos del header*/

.image-container{
    display: flex;
}

.image-container img{
    width: 100%;
}

#logo{
    width: 300px;
}

#logo img{
    border: 2px solid white;
}



