* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif, Helvetica, Arial;
}

/*Aca tengo estilos generales*/

header{
    background: white;
    padding: 20px 53px;
}

/*Aca tengo los estilos del header*/

.image-container{
    display: flex;
}

.image-container img{
    width: 100%;
}

#logo{
    width: 300px;
}

#logo img{
    border: 1px solid white;
}

#i #fondo{
    
    display: inline-block;
    filter: blur(7px);
    filter: brightness(22%);
}

#i{
    position: relative;
}

#i .info-container{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    display: flex;
    width: 100%;
    color: white;
    padding: 0 50px;
}

#i .info-container #mypicture{
    width: 300px;
}

#i .info-container #mypicture img {
    width: 270px;
    height: 270px;
    object-fit: cover;
    border-radius: 100%;
}
#i .info-container .information{
    margin-left: 20px;
    margin-top: 70px;
    font-weight: bold;
}
#i .info-container .information span{
    display: inline-block;
    color: #e49156;
    margin-bottom: 10px;

}



